<a href="https://colab.research.google.com/github/anshikatyagi23/Machine-Learning/blob/main/Feature_extraction_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

About the Dataset:

id: unique id for a news article
title: the title of a news article
author: author of the news article
text: the text of the article; could be incomplete
label: a label that marks whether the news article is real or fake: 1: Fake news 0: real News

In [ ]:
import numpy as np
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
# printing the stopwords in English
print(stopwords.words('english'))

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [ ]:
# loading the dataset to a pandas DataFrame
news_dataset = pd.read_csv('/content/train.csv')

In [ ]:
news_dataset.shape

(891, 12)

In [ ]:
# print the first 5 rows of the dataframe
news_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# counting the number of missing values in the dataset
news_dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:

# replacing the null values with empty string
news_dataset = news_dataset.fillna('')

In [ ]:
# merging the author name and news title
news_dataset['Ticket'] = news_dataset['Name']+' '+news_dataset['Cabin']

In [ ]:
print(news_dataset['Ticket'])

0                               Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3      Futrelle, Mrs. Jacques Heath (Lily May Peel) C123
4                              Allen, Mr. William Henry
                             ...
886                               Montvila, Rev. Juozas
887                     Graham, Miss. Margaret Edith B42
888            Johnston, Miss. Catherine Helen "Carrie"
889                           Behr, Mr. Karl Howell C148
890                                 Dooley, Mr. Patrick
Name: Ticket, Length: 891, dtype: object

In [ ]:
# separating the data & label
X = news_dataset.drop(columns='Fare', axis=1)
Y = news_dataset['Fare']

In [ ]:
print(X)
print(Y)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female            1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch                                             Ticket Cabin Embarked
0        0                           Braund, Mr. Owen Harris               S
1        0  Cumings, Mrs. John Bradley (Florence Briggs Th...   C85        C
2        0                            Heikkinen, Miss. Laina               S
3        0  Futrelle, Mrs. Jacques Heath (Lily May Peel) C123  C123        S
4        0                          Allen, Mr. William Henry               S
..     ...                                                ...   ...      ...
886      0                             Montvila, Rev. Juozas               S
887      0                   Graham, Miss. Margaret Edith B42   B42        S
888      2          Johnston, Miss. Catherine Helen "Carrie"               S
889      0                         Behr, Mr. Karl Howell C148  C148        C
890      0                               Dooley, Mr. Patrick               Q

[891 rows x 11 columns]
0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [ ]:

port_stem = PorterStemmer()

In [ ]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [ ]:
news_dataset['Ticket'] = news_dataset['Ticket'].apply(stemming)

In [ ]:
print(news_dataset['Ticket'])

0                             braund mr owen harri
1      cume mr john bradley florenc brigg thayer c
2                             heikkinen miss laina
3            futrel mr jacqu heath lili may peel c
4                           allen mr william henri
                          ...
886                             montvila rev juoza
887                   graham miss margaret edith b
888             johnston miss catherin helen carri
889                           behr mr karl howel c
890                              dooley mr patrick
Name: Ticket, Length: 891, dtype: object

In [ ]:
#separating the data and label
X = news_dataset['Ticket'].values
Y = news_dataset['Fare'].values

In [ ]:
print(X)

['braund mr owen harri' 'cume mr john bradley florenc brigg thayer c'
 'heikkinen miss laina' 'futrel mr jacqu heath lili may peel c'
 'allen mr william henri' 'moran mr jame' 'mccarthi mr timothi j e'
 'palsson master gosta leonard'
 'johnson mr oscar w elisabeth vilhelmina berg'
 'nasser mr nichola adel achem' 'sandstrom miss marguerit rut g'
 'bonnel miss elizabeth c' 'saundercock mr william henri'
 'andersson mr ander johan' 'vestrom miss hulda amanda adolfina'
 'hewlett mr mari kingcom' 'rice master eugen' 'william mr charl eugen'
 'vander plank mr juliu emelia maria vandemoortel' 'masselmani mr fatima'
 'fynney mr joseph j' 'beesley mr lawrenc' 'mcgowan miss anna anni'
 'sloper mr william thompson' 'palsson miss torborg danira'
 'asplund mr carl oscar selma augusta emilia johansson'
 'emir mr far chehab' 'fortun mr charl alexand c c c'
 'dwyer miss ellen nelli' 'todoroff mr lalio' 'uruchurtu manuel e'
 'spencer mr william augustu mari eugeni b' 'glynn miss mari agatha'
 'wheadon mr edward h' 'meyer mr edgar joseph'
 'holverson mr alexand oskar' 'mame mr hanna' 'cann mr ernest charl'
 'vander plank miss augusta maria' 'nicola yar miss jamila'
 'ahlin mr johan johanna persdott larsson'
 'turpin mr william john robert dorothi ann wonnacott' 'kraeff mr theodor'
 'laroch miss simonn mari ann andre' 'devaney miss margaret delia'
 'roger mr william john' 'lennon mr deni' 'driscol miss bridget'
 'samaan mr youssef' 'arnold franchi mr josef josefin franchi'
 'panula master juha niilo' 'nosworthi mr richard cater'
 'harper mr henri sleeper myna haxtun'
 'faunthorp mr lizzi elizabeth ann wilkinson'
 'ostbi mr engelhart corneliu b' 'woolner mr hugh c' 'rugg miss emili'
 'novel mr mansouer' 'west miss constanc mirium'
 'goodwin master william frederick' 'sirayanian mr orsen'
 'icard miss ameli b' 'harri mr henri birkhardt c' 'skoog master harald'
 'stewart mr albert' 'moubarek master gerio' 'nye mr elizabeth ramel f'
 'creas mr ernest jame' 'andersson miss erna alexandra' 'kink mr vincenz'
 'jenkin mr stephen curnow' 'goodwin miss lillian ami' 'hood mr ambros jr'
 'chronopoulo mr apostolo' 'bing mr lee' 'moen mr sigurd hansen f g'
 'staneff mr ivan' 'moutal mr rahamin haim' 'caldwel master alden gate'
 'dowdel miss elizabeth' 'waelen mr achil' 'sheerlinck mr jan baptist'
 'mcdermott miss brigdet delia' 'carrau mr francisco' 'ilett miss bertha'
 'backstrom mr karl alfr maria mathilda gustafsson' 'ford mr william neal'
 'slocovski mr selman franci' 'fortun miss mabel helen c c c'
 'celotti mr francesco' 'christmann mr emil' 'andreasson mr paul edvin'
 'chaffe mr herbert fuller e' 'dean mr bertram frank' 'coxon mr daniel'
 'shorney mr charl joseph' 'goldschmidt mr georg b'
 'greenfield mr william bertram' 'dole mr john ada julia bone'
 'kantor mr sinai' 'petranec miss matilda' 'petroff mr pastcho pentcho'
 'white mr richard frasar' 'johansson mr gustaf joel'
 'gustafsson mr ander vilhelm' 'mionoff mr stoytcho'
 'salkjelsvik miss anna kristin' 'moss mr albert johan' 'rekic mr tido'
 'moran miss bertha' 'porter mr walter chamberlain c' 'zabour miss hileni'
 'barton mr david john' 'jussila miss katriina' 'attalah miss malak'
 'pekoniemi mr edvard' 'connor mr patrick' 'turpin mr william john robert'
 'baxter mr quigg edmond b b' 'andersson miss elli anna maria'
 'hickman mr stanley georg' 'moor mr leonard charl' 'nasser mr nichola'
 'webber miss susan e' 'white mr perciv wayland' 'nicola yar master elia'
 'mcmahon mr martin' 'madsen mr fridtjof arn' 'peter miss anna f e'
 'ekstrom mr johan' 'drazeno mr jozef' 'coelho mr domingo fernandeo'
 'robin mr alexand grace chariti lauri'
 'weisz mr leopold mathild francois pede' 'sobey mr samuel jame hayden'
 'richard mr emil' 'newsom miss helen monypeni' 'futrel mr jacqu heath c'
 'osen mr olaf elon' 'giglio mr victor b' 'boulo mr joseph sultana'
 'nysten miss anna sofia'
 'hakkarainen mr pekka pietari elin matilda dolck' 'burk mr jeremiah'
 'andrew mr edgardo samuel' 'nichol mr joseph charl'
 'andersson mr august edvard wennerstrom' 'ford miss robina maggi rubi'
 'navratil mr michel loui hoffman f' 'byle rev thoma roussel david'
 'bateman rev robert jame' 'pear mr thoma edith wearn c' 'meo mr alfonzo'
 'van billiard mr austin blyler' 'olsen mr ole martin'
 'william mr charl duan' 'gilnagh miss katherin kati' 'corn mr harri'
 'smiljan mr mile' 'sage master thoma henri' 'cribb mr john hatfield'
 'watt mr jame elizabeth bessi ingli miln' 'bengtsson mr john viktor'
 'calic mr jovo' 'panula master eino viljami'
 'goldsmith master frank john william franki'
 'chibnal mr edith martha bowerman e'
 'skoog mr william anna bernhardina karlsson' 'baumann mr john'
 'ling mr lee' 'van der hoef mr wyckoff b' 'rice master arthur'
 'johnson miss eleanor ileen' 'sivola mr antti wilhelm'
 'smith mr jame clinch' 'klasen mr kla albin' 'lefebr master henri forb'
 'isham miss ann elizabeth c' 'hale mr reginald' 'leonard mr lionel'
 'sage miss constanc gladi' 'pernot mr rene'
 'asplund master clarenc gustaf hugo' 'becker master richard f f'
 'kink heilmann miss luis gretchen' 'rood mr hugh rosco'
 'brien mr thoma johanna hannah godfrey'
 'romain mr charl hallac mr c rolman' 'bourk mr john' 'turcin mr stjepan'
 'pinski mr rosa' 'carbin mr william'
 'andersen jensen miss carla christin nielsin' 'navratil master michel f'
 'brown mr jame joseph margaret tobin b' 'lurett miss elis b'
 'mernagh mr robert' 'olsen mr karl siegwart andrea'
 'madigan miss margaret maggi' 'yroi miss henriett mr harbeck'
 'vand wall mr nestor cyriel' 'sage mr frederick' 'johanson mr jakob alfr'
 'youseff mr geriou' 'cohen mr gurshon gu' 'strom miss telma matilda g'
 'backstrom mr karl alfr' 'albimona mr nassef cassem'
 'carr miss helen ellen' 'blank mr henri' 'ali mr ahm'
 'cameron miss clear anni' 'perkin mr john henri'
 'givard mr han kristensen' 'kiernan mr philip' 'newel miss madelein'
 'honkanen miss eliina' 'jacobsohn mr sidney samuel' 'bazzani miss albina'
 'harri mr walter' 'sunderland mr victor franci' 'bracken mr jame h'
 'green mr georg henri' 'nenkoff mr christo'
 'hoyt mr frederick maxfield c' 'berglund mr karl ivar sven'
 'mellor mr william john' 'lovel mr john hall henri'
 'fahlstrom mr arn jona' 'lefebr miss mathild'
 'harri mr henri birkhardt iren wallach c' 'larsson mr bengt edvin'
 'sjostedt mr ernst adolf' 'asplund miss lillian gertrud'
 'leyson mr robert william norman' 'harknett miss alic phoeb'
 'hold mr stephen' 'collyer miss marjori lotti'
 'pengelli mr frederick william' 'hunt mr georg henri'
 'zabour miss thamin' 'murphi miss katherin kate'
 'coleridg mr reginald charl' 'maenpaa mr matti alexanteri'
 'attalah mr sleiman' 'minahan dr william edward c'
 'lindahl miss agda thorilda viktoria' 'hamalainen mr william anna'
 'beckwith mr richard leonard' 'carter rev ernest courtenay'
 'reed mr jame georg' 'strom mr wilhelm elna matilda persson g'
 'stead mr william thoma c' 'lobb mr william arthur'
 'rosblom mr viktor helena wilhelmina' 'touma mr darwi hann youssef razi'
 'thorn mr gertrud maybel' 'cherri miss gladi b' 'ward miss anna'
 'parrish mr luti davi' 'smith mr thoma' 'asplund master edvin rojj felix'
 'taussig mr emil e' 'harrison mr william b' 'henri miss delia'
 'reev mr david' 'panula mr ernesti arvid' 'persson mr ernst ulrik'
 'graham mr william thompson edith junkin c' 'bissett miss amelia c'
 'cairn mr alexand' 'tornquist mr william henri'
 'melling mr elizabeth ann maidment' 'natsch mr charl h c'
 'heali miss hanora nora' 'andrew miss kornelia theodosia'
 'lindblom miss augusta charlotta' 'park mr franci frank'
 'rice master eric' 'abbott mr stanton rosa hunt' 'duan mr frank'
 'olsson mr nil johan goransson' 'de pelsmaek mr alfon'
 'dork mr edward arthur' 'smith mr richard william' 'stankov mr ivan'
 'de mulder mr theodor' 'naidenoff mr penko' 'hosono mr masabumi'
 'connolli miss kate' 'barber miss ellen nelli'
 'bishop mr dickinson h helen walton b' 'levi mr rene jacqu'
 'haa miss aloisia' 'mineff mr ivan' 'lewi mr ervin g' 'hanna mr mansour'
 'allison miss helen lorain c c' 'saalfeld mr adolph c'
 'baxter mr jame helen delaudenier chaput b b'
 'kelli miss anna katherin anni kate' 'mccoy mr bernard'
 'johnson mr william cahoon jr' 'kean miss nora e'
 'william mr howard hugh harri' 'allison master hudson trevor c c'
 'fleme miss margaret'
 'penasco castellana mr victor de satod maria josefa perez de soto vallejo c'
 'abelson mr samuel' 'francatelli miss laura mabel e'
 'hay miss margaret bechstein c' 'ryerson miss emili bori b b b b'
 'lahtinen mr william anna sylfven' 'hendekov mr ignjac'
 'hart mr benjamin' 'nilsson miss helmina josefina'
 'kantor mr sinai miriam sternin' 'moraweck dr ernest'
 'wick miss mari natali c'
 'spedden mr freder oakley margaretta corn stone e' 'denni mr samuel'
 'danoff mr yoto' 'slayter miss hilda mari'
 'caldwel mr albert franci sylvia mae harbaugh' 'sage mr georg john jr'
 'young miss mari grice c' 'nysveen mr johan hansen' 'ball mr ada e hall'
 'goldsmith mr frank john emili alic brown' 'hippach miss jean gertrud b'
 'mccoy miss agn' 'partner mr austen c' 'graham mr georg edward c'
 'vander plank mr leo edmondu'
 'frauenthal mr henri william clara heinsheim' 'denkoff mr mitto'
 'pear mr thoma clinton c' 'burn miss elizabeth margaret e'
 'dahl mr karl edwart' 'blackwel mr stephen weart'
 'navratil master edmond roger f' 'fortun miss alic elizabeth c c c'
 'colland mr erik gustaf' 'sedgwick mr charl frederick waddington'
 'fox mr stanley hubert' 'brown miss amelia mildr f'
 'smith miss marion elsi' 'davison mr thoma henri mari e finck'
 'coutt master william loch william' 'dimic mr jovan'
 'odahl mr nil martin' 'william lambert mr fletcher fellow c'
 'elia mr tannou' 'arnold franchi mr josef' 'yousif mr wazli'
 'vanden steen mr leo peter' 'bowerman miss elsi edith e'
 'funk miss anni clemmer' 'mcgovern miss mari'
 'mockler miss helen mari elli' 'skoog mr wilhelm'
 'del carlo mr sebastiano' 'barbara mr catherin david' 'asim mr adola'
 'brien mr thoma' 'adahl mr mauritz nil martin'
 'warren mr frank manley anna sophia atkinson' 'moussa mr mantoura boulo'
 'jermyn miss anni' 'aubart mme leontin paulin b'
 'harder mr georg achil e' 'wiklund mr jakob alfr'
 'beavan mr william thoma' 'ringhini mr sant' 'palsson miss stina viola'
 'meyer mr edgar joseph leila sak' 'landergren miss aurora adelia'
 'widen mr harri elkin c' 'betro mr tannou' 'gustafsson mr karl gideon'
 'bidoi miss rosali' 'nakid miss maria mari' 'tikkanen mr juho'
 'holverson mr alexand oskar mari alin towner' 'plotcharski mr vasil'
 'davi mr charl henri' 'goodwin master sidney leonard' 'buss miss kate'
 'sadlier mr matthew' 'lehmann miss bertha' 'carter mr william ernest b b'
 'jansson mr carl olof' 'gustafsson mr johan birger' 'newel miss marjori'
 'sandstrom mr hjalmar agn charlotta bengtsson g' 'johansson mr erik'
 'olsson miss elina' 'mckane mr peter david' 'pain dr alfr'
 'trout mr william h jessi l' 'niskanen mr juha' 'adam mr john'
 'jussila miss mari aina' 'hakkarainen mr pekka pietari'
 'oreskov miss marija' 'gale mr shadrach' 'widegren mr carl charl peter'
 'richard master william row' 'birkeland mr han martin monsen'
 'lefebr miss ida' 'sdycoff mr todor' 'hart mr henri'
 'minahan miss daisi e c' 'cunningham mr alfr fleme'
 'sundman mr johan julian' 'meek mr thoma anni louis rowley'
 'drew mr jame vivian lulu thorn christian' 'silven miss lyyli karoliina'
 'matthew mr william john' 'van imp miss catharina' 'gheorgheff mr stanio'
 'charter mr david' 'zimmerman mr leo'
 'danbom mr ernst gilbert anna sigrid maria brogren'
 'rosblom mr viktor richard' 'wiseman mr phillipp'
 'clark mr charl v ada maria winfield'
 'phillip miss kate florenc mr kate louis phillip marshal' 'flynn mr jame'
 'pickard mr berk berk trembiski e'
 'bjornstrom steffansson mr mauritz hakan c'
 'thorneycroft mr perciv florenc kate white'
 'louch mr charl alexand alic adelaid slow' 'kallio mr nikolai erland'
 'silvey mr william baird e' 'carter miss lucil polk b b'
 'ford miss doolina margaret daisi' 'richard mr sidney emili hock'
 'fortun mr mark c c c' 'kvillner mr johan henrik johannesson'
 'hart mr benjamin esther ada bloomfield' 'hamp mr leon'
 'petterson mr johan emil' 'reynaldo ms encarnacion'
 'johannesen bratthamm mr bernt' 'dodg master washington'
 'melling miss madelein violet' 'seward mr freder kimber'
 'baclini miss mari catherin' 'peuchen major arthur godfrey c'
 'west mr edwi arthur' 'hagland mr ingvald olai olsen'
 'foreman mr benjamin lavental c' 'goldenberg mr samuel l c'
 'peduzzi mr joseph' 'jalsevac mr ivan' 'millet mr franci davi e'
 'kenyon mr frederick r marion' 'toomey miss ellen' 'connor mr mauric'
 'anderson mr harri e' 'morley mr william' 'gee mr arthur h e'
 'mill mr jacob christian' 'maisner mr simon' 'goncalv mr manuel estansla'
 'campbel mr william' 'smart mr john montgomeri' 'scanlan mr jame'
 'baclini miss helen barbara' 'keef mr arthur' 'cacic mr luka'
 'west mr edwi arthur ada mari worth'
 'jerwan mr amin mari marth thuillard' 'strandberg miss ida sofia'
 'clifford mr georg quinci' 'renouf mr peter henri'
 'braund mr lewi richard' 'karlsson mr nil august'
 'hirvonen miss hildur e' 'goodwin master harold victor'
 'frost mr anthoni wood archi' 'rous mr richard henri' 'turkula mr hedwig'
 'bishop mr dickinson h b' 'lefebr miss jeanni'
 'hoyt mr frederick maxfield jane ann forbi c' 'kent mr edward austin b'
 'somerton mr franci william' 'coutt master eden lesli nevil'
 'hagland mr konrad mathia reiersen' 'windelov mr einar'
 'molson mr harri markland c' 'artagaveytia mr ramon'
 'stanley mr edward roland' 'yousseff mr geriou'
 'eusti miss elizabeth mussey' 'shellard mr frederick william'
 'allison mr hudson j c bessi waldo daniel c c' 'svensson mr olof'
 'calic mr petar' 'canavan miss mari' 'sullivan miss bridget mari'
 'laitinen miss kristina sofia' 'maioni miss roberta b'
 'penasco castellana mr victor de satod c'
 'quick mr frederick charl jane richard'
 'bradley mr georg georg arthur brayton' 'olsen mr henri margido'
 'lang mr fang' 'dali mr eugen patrick' 'webber mr jame'
 'mcgough mr jame robert e' 'rothschild mr martin elizabeth l barrett'
 'coleff mr satio' 'walker mr william anderson' 'lemor mr amelia milley f'
 'ryan mr patrick' 'angl mr william florenc mari agn hugh'
 'pavlov mr stefo' 'perreault miss ann b' 'vovk mr janko'
 'lahoud mr sarki' 'hippach mr loui albert ida sophia fischer b'
 'kassem mr fare' 'farrel mr jame' 'ridsdal miss luci' 'farth mr john c'
 'salonen mr johan werner' 'hock mr richard georg' 'quick miss phylli may'
 'toufik mr nakli' 'elia mr joseph jr' 'peter mr catherin catherin rizk'
 'cacic miss marija' 'hart miss eva miriam'
 'butt major archibald willingham b' 'leroy miss bertha'
 'risien mr samuel beard' 'frolich miss hedwig margaritha b'
 'crosbi miss harriet r b' 'andersson miss ingeborg constanzia'
 'andersson miss sigrid elisabeth' 'bean mr edward'
 'dougla mr walter donald c' 'nicholson mr arthur ernest'
 'bean mr edward ethel clark' 'padro manent mr julian'
 'goldsmith mr frank john' 'davi master john morgan jr'
 'thayer mr john borland jr c' 'sharp mr perciv jame r' 'brien mr timothi'
 'leeni mr fahim philip zenni' 'ohman miss velin' 'wright mr georg'
 'duff gordon ladi lucil christiana sutherland mr morgan'
 'robbin mr victor' 'taussig mr emil tilli mandelbaum e'
 'de messemaek mr guillaum joseph emma' 'morrow mr thoma rowan'
 'sivic mr husein' 'norman mr robert dougla' 'simmon mr john'
 'meanwel miss marion ogden' 'davi mr alfr j' 'stoytcheff mr ilia'
 'palsson mr nil alma cornelia berglund' 'doharr mr tannou'
 'jonsson mr carl' 'harri mr georg'
 'appleton mr edward dale charlott lamson c' 'flynn mr john irwin irv e'
 'kelli miss mari' 'rush mr alfr georg john' 'patchett mr georg'
 'garsid miss ethel' 'silvey mr william baird alic munger e'
 'caram mr joseph maria elia' 'jussila mr eiriik'
 'christi miss juli rachel'
 'thayer mr john borland marian longstreth morri c'
 'downton mr william jame' 'ross mr john hugo' 'paulner mr uscher'
 'taussig miss ruth e' 'jarvi mr john denzil'
 'frolich stehli mr maxmillian b' 'gilinski mr eliez' 'murdlin mr joseph'
 'rintamaki mr matti' 'stephenson mr walter bertram martha eusti'
 'elsburi mr william jame' 'bourk miss mari' 'chapman mr john henri'
 'van imp mr jean baptist' 'leitch miss jessi will' 'johnson mr alfr'
 'boulo mr hanna' 'duff gordon sir cosmo edmund mr morgan'
 'jacobsohn mr sidney samuel ami franc christi' 'slabenoff mr petco'
 'harrington mr charl h' 'torber mr ernst william' 'homer mr harri mr e'
 'lindel mr edvard bengtsson' 'karaic mr milan' 'daniel mr robert william'
 'laroch mr joseph juliett mari louis lafargu' 'shute miss elizabeth w c'
 'andersson mr ander johan alfrida konstantia brogren'
 'jardin mr jose neto' 'murphi miss margaret jane' 'horgan mr john'
 'brocklebank mr william alfr' 'herman miss alic'
 'danbom mr ernst gilbert' 'lobb mr william arthur cordelia k stanlick'
 'becker miss marion louis f' 'gavey mr lawrenc' 'yasbeck mr antoni'
 'kimbal mr edwin nelson jr' 'nakid mr sahid' 'hansen mr henri damsgaard'
 'bowen mr david john dai' 'sutton mr frederick'
 'kirkland rev charl leonard' 'longley miss gretchen fisk'
 'bostandyeff mr guentcho' 'connel mr patrick'
 'barkworth mr algernon henri wilson' 'lundahl mr johan svensson'
 'stahelin maeglin dr max b' 'parr mr william henri marsh'
 'skoog miss mabel' 'davi miss mari' 'leinonen mr antti gustaf'
 'collyer mr harvey' 'panula mr juha maria emilia ojala'
 'thorneycroft mr perciv' 'jensen mr han peder' 'sagess mlle emma b'
 'skoog miss margit elizabeth' 'foo mr choong' 'baclini miss eugeni'
 'harper mr henri sleeper' 'cor mr liudevit'
 'simoniu blumer col oberst alfon' 'willey mr edward'
 'stanley miss ami zillah elsi' 'mitkoff mr mito' 'dole miss elsi'
 'kalvik mr johann halvorsen' 'leari miss hanora norah'
 'hegarti miss hanora nora' 'hickman mr leonard mark' 'radeff mr alexand'
 'bourk mr john catherin' 'eitemil mr georg floyd'
 'newel mr arthur webster' 'frauenthal dr henri william' 'badt mr moham'
 'colley mr edward pomeroy e' 'coleff mr peju' 'lindqvist mr eino william'
 'hickman mr lewi' 'butler mr reginald fenton' 'rommetvedt mr knud paust'
 'cook mr jacob' 'taylor mr elmer zebley juliet cummin wright c'
 'brown mr thoma william solomon elizabeth catherin ford'
 'davidson mr thornton b' 'mitchel mr henri michael' 'wilhelm mr charl'
 'watson mr enni hast' 'edvardsson mr gustaf hjalmar'
 'sawyer mr frederick charl' 'turja miss anna sofia'
 'goodwin mr frederick augusta tyler'
 'cardeza mr thoma drake martinez b b b' 'peter miss kati'
 'hassab mr hammad' 'olsvigen mr thor anderson' 'goodwin mr charl edward'
 'brown mr thoma william solomon' 'laroch mr joseph philipp lemerci'
 'panula mr jaako arnold' 'dakic mr branko' 'fischer mr eberhard theland'
 'madil miss georgett alexandra b' 'dick mr albert adrian b'
 'karun miss manca' 'lam mr ali' 'saad mr khalil' 'weir col john'
 'chapman mr charl henri' 'kelli mr jame' 'mullen miss katherin kati'
 'thayer mr john borland c' 'humblen mr adolf mathia nicolai olsen f g'
 'astor mr john jacob madelein talmadg forc c c'
 'silverthorn mr spencer victor e' 'barbara miss saiid'
 'gallagh mr martin' 'hansen mr henrik juul'
 'morley mr henri samuel mr henri marshal' 'kelli mr florenc fanni'
 'calderhead mr edward pennington e' 'cleaver miss alic'
 'moubarek master halim gonio william georg'
 'mayn mlle berth antonin mr de villier c' 'klaber mr herman c'
 'taylor mr elmer zebley c' 'larsson mr august viktor'
 'greenberg mr samuel' 'soholt mr peter andrea lauritz andersen f g'
 'endr miss carolin louis c' 'troutt miss edwina celia winni e'
 'mcevoy mr michael' 'johnson mr malkolm joackim'
 'harper miss anni jessi nina' 'jensen mr svend lauritz'
 'gillespi mr william henri' 'hodg mr henri price'
 'chamber mr norman campbel e' 'oreskov mr luka'
 'renouf mr peter henri lillian jefferi' 'mannion miss margareth'
 'bryhl mr kurt arnold gottfrid' 'ilmakanga miss pieta sofia'

In [ ]:
print(Y)

[  7.25    71.2833   7.925   53.1      8.05     8.4583  51.8625  21.075
  11.1333  30.0708  16.7     26.55     8.05    31.275    7.8542  16.
  29.125   13.      18.       7.225   26.      13.       8.0292  35.5
  21.075   31.3875   7.225  263.       7.8792   7.8958  27.7208 146.5208
   7.75    10.5     82.1708  52.       7.2292   8.05    18.      11.2417
   9.475   21.       7.8958  41.5792   7.8792   8.05    15.5      7.75
  21.6792  17.8     39.6875   7.8     76.7292  26.      61.9792  35.5
  10.5      7.2292  27.75    46.9      7.2292  80.      83.475   27.9
  27.7208  15.2458  10.5      8.1583   7.925    8.6625  10.5     46.9
  73.5     14.4542  56.4958   7.65     7.8958   8.05    29.      12.475
   9.       9.5      7.7875  47.1     10.5     15.85    34.375    8.05
 263.       8.05     8.05     7.8542  61.175   20.575    7.25     8.05
  34.6542  63.3583  23.      26.       7.8958   7.8958  77.2875   8.6542
   7.925    7.8958   7.65     7.775    7.8958  24.15    52.      14.4542
   8.05     9.825   14.4583   7.925    7.75    21.     247.5208  31.275
  73.5      8.05    30.0708  13.      77.2875  11.2417   7.75     7.1417
  22.3583   6.975    7.8958   7.05    14.5     26.      13.      15.0458
  26.2833  53.1      9.2167  79.2     15.2458   7.75    15.85     6.75
  11.5     36.75     7.7958  34.375   26.      13.      12.525   66.6
   8.05    14.5      7.3125  61.3792   7.7333   8.05     8.6625  69.55
  16.1     15.75     7.775    8.6625  39.6875  20.525   55.      27.9
  25.925   56.4958  33.5     29.125   11.1333   7.925   30.6958   7.8542
  25.4667  28.7125  13.       0.      69.55    15.05    31.3875  39.
  22.025   50.      15.5     26.55    15.5      7.8958  13.      13.
   7.8542  26.      27.7208 146.5208   7.75     8.4042   7.75    13.
   9.5     69.55     6.4958   7.225    8.05    10.4625  15.85    18.7875
   7.75    31.       7.05    21.       7.25    13.       7.75   113.275
   7.925   27.      76.2917  10.5      8.05    13.       8.05     7.8958
  90.       9.35    10.5      7.25    13.      25.4667  83.475    7.775
  13.5     31.3875  10.5      7.55    26.      26.25    10.5     12.275
  14.4542  15.5     10.5      7.125    7.225   90.       7.775   14.5
  52.5542  26.       7.25    10.4625  26.55    16.1     20.2125  15.2458
  79.2     86.5    512.3292  26.       7.75    31.3875  79.65     0.
   7.75    10.5     39.6875   7.775  153.4625 135.6333  31.       0.
  19.5     29.7      7.75    77.9583   7.75     0.      29.125   20.25
   7.75     7.8542   9.5      8.05    26.       8.6625   9.5      7.8958
  13.       7.75    78.85    91.0792  12.875    8.85     7.8958  27.7208
   7.2292 151.55    30.5    247.5208   7.75    23.25     0.      12.35
   8.05   151.55   110.8833 108.9     24.      56.9292  83.1583 262.375
  26.       7.8958  26.25     7.8542  26.      14.     164.8667 134.5
   7.25     7.8958  12.35    29.      69.55   135.6333   6.2375  13.
  20.525   57.9792  23.25    28.5    153.4625  18.     133.65     7.8958
  66.6    134.5      8.05    35.5     26.     263.      13.      13.
  13.      13.      13.      16.1     15.9      8.6625   9.225   35.
   7.2292  17.8      7.225    9.5     55.      13.       7.8792   7.8792
  27.9     27.7208  14.4542   7.05    15.5      7.25    75.25     7.2292
   7.75    69.3     55.4417   6.4958   8.05   135.6333  21.075   82.1708
   7.25   211.5      4.0125   7.775  227.525   15.7417   7.925   52.
   7.8958  73.5     46.9     13.       7.7292  12.     120.       7.7958
   7.925  113.275   16.7      7.7958   7.8542  26.      10.5     12.65
   7.925    8.05     9.825   15.85     8.6625  21.       7.75    18.75
   7.775   25.4667   7.8958   6.8583  90.       0.       7.925    8.05
  32.5     13.      13.      24.15     7.8958   7.7333   7.875   14.4
  20.2125   7.25    26.      26.       7.75     8.05    26.55    16.1
  26.       7.125   55.9    120.      34.375   18.75   263.      10.5
  26.25     9.5      7.775   13.       8.1125  81.8583  19.5     26.55
  19.2583  30.5     27.75    19.9667  27.75    89.1042   8.05     7.8958
  26.55    51.8625  10.5      7.75    26.55     8.05    38.5     13.
   8.05     7.05     0.      26.55     7.725   19.2583   7.25     8.6625
  27.75    13.7917   9.8375  52.      21.       7.0458   7.5208  12.2875
  46.9      0.       8.05     9.5875  91.0792  25.4667  90.      29.7
   8.05    15.9     19.9667   7.25    30.5     49.5042   8.05    14.4583
  78.2667  15.1    151.55     7.7958   8.6625   7.75     7.6292   9.5875
  86.5    108.9     26.      26.55    22.525   56.4958   7.75     8.05
  26.2875  59.4      7.4958  34.0208  10.5     24.15    26.       7.8958
  93.5      7.8958   7.225   57.9792   7.2292   7.75    10.5    221.7792
   7.925   11.5     26.       7.2292   7.2292  22.3583   8.6625  26.25
  26.55   106.425   14.5     49.5     71.      31.275   31.275   26.
 106.425   26.      26.      13.8625  20.525   36.75   110.8833  26.
   7.8292   7.225    7.775   26.55    39.6    227.525   79.65    17.4
   7.75     7.8958  13.5      8.05     8.05    24.15     7.8958  21.075
   7.2292   7.8542  10.5     51.4792  26.3875   7.75     8.05    14.5
  13.      55.9     14.4583   7.925   30.     110.8833  26.      40.125
   8.7125  79.65    15.      79.2      8.05     8.05     7.125   78.2667
   7.25     7.75    26.      24.15    33.       0.       7.225   56.9292
  27.       7.8958  42.4      8.05    26.55    15.55     7.8958  30.5
  41.5792 153.4625  31.275    7.05    15.5      7.75     8.05    65.
  14.4     16.1     39.      10.5     14.4542  52.5542  15.7417   7.8542
  16.1     32.3208  12.35    77.9583   7.8958   7.7333  30.       7.0542
  30.5      0.      27.9     13.       7.925   26.25    39.6875  16.1
   7.8542  69.3     27.9     56.4958  19.2583  76.7292   7.8958  35.5
   7.55     7.55     7.8958  23.       8.4333   7.8292   6.75    73.5
   7.8958  15.5     13.     113.275  133.65     7.225   25.5875   7.4958
   7.925   73.5     13.       7.775    8.05    52.      39.      52.
  10.5     13.       0.       7.775    8.05     9.8417  46.9    512.3292
   8.1375  76.7292   9.225   46.9     39.      41.5792  39.6875  10.1708
   7.7958 211.3375  57.      13.4167  56.4958   7.225   26.55    13.5
   8.05     7.7333 110.8833   7.65   227.525   26.2875  14.4542   7.7417
   7.8542  26.      13.5     26.2875 151.55    15.2458  49.5042  26.55
  52.       9.4833  13.       7.65   227.525   10.5     15.5      7.775
  33.       7.0542  13.      13.      53.1      8.6625  21.       7.7375
  26.       7.925  211.3375  18.7875   0.      13.      13.      16.1
  34.375  512.3292   7.8958   7.8958  30.      78.85   262.375   16.1
   7.925   71.      20.25    13.      53.1      7.75    23.      12.475
   9.5      7.8958  65.      14.5      7.7958  11.5      8.05    86.5
  14.5      7.125    7.2292 120.       7.775   77.9583  39.6      7.75
  24.15     8.3625   9.5      7.8542  10.5      7.225   23.       7.75
   7.75    12.475    7.7375 211.3375   7.2292  57.      30.      23.45
   7.05     7.25     7.4958  29.125   20.575   79.2      7.75    26.
  69.55    30.6958   7.8958  13.      25.9292   8.6833   7.2292  24.15
  13.      26.25   120.       8.5167   6.975    7.775    0.       7.775
  13.      53.1      7.8875  24.15    10.5     31.275    8.05     0.
   7.925   37.0042   6.45    27.9     93.5      8.6625   0.      12.475
  39.6875   6.95    56.4958  37.0042   7.75    80.      14.4542  18.75
   7.2292   7.8542   8.3     83.1583   8.6625   8.05    56.4958  29.7
   7.925   10.5     31.       6.4375   8.6625   7.55    69.55     7.8958
  33.      89.1042  31.275    7.775   15.2458  39.4     26.       9.35
 164.8667  26.55    19.2583   7.2292  14.1083  11.5     25.9292  69.55
  13.      13.      13.8583  50.4958   9.5     11.1333   7.8958  52.5542
   5.       9.      24.       7.225    9.8458   7.8958   7.8958  83.1583
  26.       7.8958  10.5167  10.5      7.05    29.125   13.      30.
  23.45    30.       7.75  ]

In [ ]:
Y.shape

(891,)

In [ ]:
# convert the textual data to Feature Vectors
vectorizer = TfidfVectorizer()

In [ ]:
vectorizer.fit(X)

X = vectorizer.transform(X)

In [ ]:


print(X)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3561 stored elements and shape (891, 1473)>
  Coords	Values
  (0, 173)	0.6122664812320111
  (0, 564)	0.48548528626888116
  (0, 986)	0.12067952906754793
  (0, 1068)	0.6122664812320111
  (1, 170)	0.4343749521361649
  (1, 179)	0.46068230566973467
  (1, 290)	0.46068230566973467
  (1, 445)	0.3894022342249528
  (1, 690)	0.25867146346989556
  (1, 986)	0.08561658406818297
  (1, 1336)	0.4012316063594593
  (2, 583)	0.6847964246548636
  (2, 767)	0.6847964246548636
  (2, 959)	0.2492141921316511
  (3, 477)	0.4055685568087742
  (3, 579)	0.4055685568087742
  (3, 658)	0.3881410213219276
  (3, 813)	0.4055685568087742
  (3, 917)	0.4055685568087742
  (3, 986)	0.07993875859707769
  (3, 1092)	0.43013128850773164
  (4, 45)	0.7624999049002402
  (4, 591)	0.48269382745394174
  (4, 986)	0.1502909799214403
  (4, 1445)	0.4037489137065785
  :	:
  (884, 1319)	0.7127827059432275
  (885, 878)	0.4619947096937033
  (885, 986)	0.1165984344700052
  (885, 1038)	0.6273882123858886
  (885, 1162)	0.5303142070418667
  (885, 1445)	0.31323563983520486
  (886, 716)	0.6110461760871162
  (886, 972)	0.6110461760871162
  (886, 1160)	0.5032346782353397
  (887, 359)	0.5594272135394318
  (887, 520)	0.6129648456338377
  (887, 878)	0.5002046288551536
  (887, 959)	0.24720562299525198
  (888, 213)	0.5506667917630271
  (888, 219)	0.45350848530348353
  (888, 587)	0.4258464818909298
  (888, 692)	0.5192208564800425
  (888, 959)	0.20040113339101717
  (889, 129)	0.6163245789163689
  (889, 620)	0.6163245789163689
  (889, 724)	0.4766215387605774
  (889, 986)	0.11454228754752764
  (890, 337)	0.7561395308396334
  (890, 986)	0.14052652535740964
  (890, 1081)	0.6391441977931056