<a href="https://colab.research.google.com/github/anshikatyagi23/Machine-Learning/blob/main/List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Objects in Python


1.  Immutable Objects
2.  Mutable Objects

Immutable Objects

1.  int
2.  float
3.  string
4.  bool
5.  tuple

Mutable Objects

1. List  
2.  set
3. Dictionary

List

In [ ]:
#List should be included in the square brackets
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
#lists can have multiple datatype
my_list=[2,3,1.8,'English',True]
print(my_list)

[2, 3, 1.8, 'English', True]

Lists are mutable

In [ ]:
#add elements to a list
my_list=[2,3,1.8,'English',True]
my_list.append(6)
print(my_list)

[2, 3, 1.8, 'English', True, 6]

In [ ]:
#print elements of a list using their index
print(my_list[0])
print(my_list[2])

2
1.8

In [ ]:
#lists allow duplicate values
my_list=[2,3,1.8,'English',True,2]
print(my_list)

[2, 3, 1.8, 'English', True, 2]

In [ ]:
print(len(my_list))

6

In [ ]:
#initiang an empty list
list_2=[]
print(list_2)

[]

In [ ]:
list_2=[2, 3, 1.8, 'English', True, 2]
print(list_2)

[2, 3, 1.8, 'English', True, 2]

In [ ]:
del list_2[0]
print(list_2)

[3, 1.8, 'English', True, 2]

In [ ]:
#join two lists
list_3=[1,2,3,4]
list_4=[5,6,7,8]
list_5=list_3+list_4
print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8]

Tuple

In [ ]:
tuple_1=(2,3,4)
print(tuple_1)

(2, 3, 4)

In [ ]:
#tuple allows multiple datatypes
tuple_2=(2,3,4,'English',True)
print(tuple_2)

(2, 3, 4, 'English', True)

In [ ]:
#converting a list to a tuple

my_list=[2,3,4]
print(my_list)
my_tuple=tuple(my_list)
print(my_tuple)

[2, 3, 4]
(2, 3, 4)

In [ ]:
print(my_tuple[0])
print(my_tuple[1])

2
3

Tuple are immutable

length

In [ ]:
print(len(my_tuple))

3

Set

In [ ]:
#set----> Curly brackets
my_set={2,3,4}
print(my_set)

{2, 3, 4}

In [ ]:
#set doesnt support indexing
my_set={2,3,4}
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [ ]:
#COVERT a lisit to a set
list_1=[5,6,7,8,9]
print(list_1)
set_3=set(list_1)
print(set_3)

[5, 6, 7, 8, 9]
{5, 6, 7, 8, 9}

In [ ]:
#et doesn't allow duplicate values

Dictionary

In [ ]:
#key-value pair

In [ ]:
my_dictionary={'Eng':80,'Maths':90,'Sci':95}
print(my_dictionary)

{'Eng': 80, 'Maths': 90, 'Sci': 95}

In [ ]:
print(my_dictionary['Eng'])
print(my_dictionary['Maths'])
print(my_dictionary['Sci'])

80
90
95

In [ ]:
#dictionary doesnt allow duplicate values
my_dictionary={'Eng':80,'Maths':90,'Sci':95,'Eng':95}
print(my_dictionary)

{'Eng': 95, 'Maths': 90, 'Sci': 95}