<a href="https://colab.research.google.com/github/anshikatyagi23/Machine-Learning/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
laptop1 = int(input('ENTEr the price of laptop1'))
laptop2 = int(input('ENTEr the price of laptop2'))
laptop3 = int(input('ENTEr the price of laptop3'))
laptop4 = int(input('ENTEr the price of laptop4'))

ENTEr the price of laptop120000
ENTEr the price of laptop230000
ENTEr the price of laptop340000
ENTEr the price of laptop450000

In [ ]:
for i in range(5):
  laptop_price=int(input('Enter the price of laptop'))

Enter the price of laptop2454
Enter the price of laptop3456
Enter the price of laptop4567
Enter the price of laptop3456
Enter the price of laptop567

In [ ]:
number = [50,60,70,80]
print(number[0]
    )
print(number[1]
    )
print(number[2]
    )
print(number[3]
    )

50
60
70
80

In [ ]:
number = [50,60,70,80]
for i in number:
  print(i)

50
60
70
80

While loop

In [ ]:
i = 0
while i<10:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
i =5
while i<3:
  print(i)
  i=i+1